{% extends 'base.html.twig' %}

{% block title  %}

    FORM'Abil - Création Client

{% endblock %}

{% block body %}

    <div class="right-side">
        {% if app.user and app.user.organisme.filename %}
            <div class="row mt-4 ofLogo">
                <img src="{{ vich_uploader_asset(app.user.organisme, 'imageFile') }}" alt="logo de l'organisme">
            </div>
        {% endif %}
        <div class="row mt-4">
            <h1>Créer un nouveau client</h1>
        </div>
        {{ include('admin/clients/client-form.html.twig', {form: form, button: 'Créer'}) }}
    </div>

{% endblock %}